<launch>

    <!--
    This file contains some static TFs required for interfacing the simulation environment
    -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map"
    args="0.0 0 0.0 0 0 0 /world /map"/>

<!--     <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera"
    args="0.15 0.0 0.27 0.0 0.0 0.0 /base_link /camera_link"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu"
    args="0.15 0.0 0.27 0.0 0.0 0.0 /base_link /camera_imu_optical_frame"/> -->
<!-- 
        <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu"
    args="0.15 0.0 0.27 0.0 0.0 0.0 /map /odom_combined"/> -->

</launch>
